@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="hero-section">
    <div class="video-background">
        <video autoplay muted loop playsinline>
            <source src="~/images/home_background.mp4" type="video/mp4" />
        </video>
    </div>

    <div class="video-overlay"></div>

    <div class="hero-content">
        <h1>Welcome to EVENTMASTER</h1>
        <p>Skip the fees, Score the seats, EventMaster</p>
    </div>
</section>



