@{
    ViewData["Title"] = "Staff Dashboard";
}

<h2>Staff Dashboard</h2>

<ul>
    <li><a asp-action="CreateEvent">Create New Event</a></li>
    <li><a asp-controller="Events" asp-action="Manage">Manage Existing Events</a></li>
</ul>